/*******************************************************************************
 * styles for the web site
 *******************************************************************************/

@import "site-colors.css";

/*-----------------------------------------------------------------*/
.rich-snippets {
    display: none;
}

/*-----------------------------------------------------------------*/
a {
    text-decoration:    none;
}

/*-----------------------------------------------------------------*/
.warning {
    font-weight: bold;
    color:       red;
}

/*-----------------------------------------------------------------*/
body {
    padding:            0.0em;
    margin:             1.0em;
    border:             0.0em;
}

/*-----------------------------------------------------------------*/
code {
    font-weight:        bold;
}

/*-----------------------------------------------------------------*/
pre, xmp {
    overflow:           auto;
    border-width:       1px;
    border-style:       dotted;
    padding-top:        0.4em;
    padding-bottom:     0.4em;
    padding-left:       1.4em;
    padding-right:      1.4em;
    margin-left:        1.4em;
    margin-right:       1.4em;
}

/*-----------------------------------------------------------------*/
dt {
    font-weight:        bold;
}

/*-----------------------------------------------------------------*/
dd {
    padding-bottom:     0.5em;
}

/*-----------------------------------------------------------------*/
li {
    padding-bottom:     0.5em;
}

/*-----------------------------------------------------------------*/
h1,h2,h3,h4,h5 {
    margin:                0.5em 0.0em 0.5em 0.0em;
    padding:               0.3em 0.3em 0.0em 0.0em;
    border-bottom:         solid thin #000;    
}

