/*******************************************************************************
 * styles for the web site
 *******************************************************************************/

@import "site-colors.css";

/*-----------------------------------------------------------------*/
.boxed {
    border:             10px solid #AAF;
    border-radius:      30px;
    padding-top:        0.4em;
    padding-bottom:     0.4em;
    padding-left:       1.4em;
    padding-right:      1.4em;
}

/*-----------------------------------------------------------------*/
.boxed h1 {
    border-bottom:      10px solid #AAF;
}

/*-----------------------------------------------------------------*/
.product {
    font-weight: bold;
}

/*-----------------------------------------------------------------*/
.rich-snippets {
    display: none;
}

/*-----------------------------------------------------------------*/
a {
    text-decoration:    none;
}

/*-----------------------------------------------------------------*/
a:link    { color: blue;   }
a:visited { color: blue;   }
a:hover   { color: purple; }
a:active  { color: green;  }

/*-----------------------------------------------------------------*/
.warning {
    font-weight: bold;
    color:       red;
}

/*-----------------------------------------------------------------*/
body {
    padding:            0.0em;
    margin:             1.0em;
    border:             0.0em;
}

/*-----------------------------------------------------------------*/
code {
    font-weight:        bold;
}

/*-----------------------------------------------------------------*/
pre, xmp, blockquote {
    overflow:           auto;
    border-width:       thin;
    border-style:       solid;
    padding-top:        0.4em;
    padding-bottom:     0.4em;
    padding-left:       1.4em;
    padding-right:      1.4em;
    margin-left:        1.4em;
    margin-right:       1.4em;
    border-radius:      0.5em;
}

/*-----------------------------------------------------------------*/
dt {
    font-weight:        bold;
}

/*-----------------------------------------------------------------*/
dd {
    padding-bottom:     0.5em;
}

/*-----------------------------------------------------------------*/
li {
    padding-bottom:     0.5em;
}

/*-----------------------------------------------------------------*/
h1,h2,h3,h4,h5 {
    margin:                0.5em 0.0em 0.5em 0.0em;
    padding:               0.3em 0.3em 0.0em 0.0em;
    border-bottom:         solid thin #000;    
}

