/*******************************************************************************
 * colors for the web site
 *******************************************************************************/

/*-----------------------------------------------------------------*/
body {
	background:         #EEE;
	color:              #000;
}

/*-----------------------------------------------------------------*/
pre, xmp, blockquote {
	border-color:       #BBB;
	background:         #FFE;
	color:              #000;
}
